{% extends "layout.html" %}

{% block page_title %}
  Find government data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">April 2017 — Design sprint</span>
        Finding awesome team
      </h1>

      <p class="lede">
        Goal: Help users to find data that is relevant and meaningful to them.
      </p>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

         <h1 class="heading-medium">Thoughts</h1>
         <ul class="list">
           <li>
              What we think 'relevant' means
              <a href="/relevant.html">Read more</a>
           </li>
           <li>
              Data might be things, events, transactions or facts.
              <a href="/abstraction.html">Read more</a>
           </li>
        </ul>
         <h1 class="heading-medium">Prototypes</h1>

         <ul>
           <li>
            <a href="/search/">Customised search and lists of things</a><br/>
            <p>
              Helping users reduce the noise of search results to identify and
              select the most relevant results.
            </p>
            <p>
              Once the user has identified a dataset how do we highlight the key
              properties of 'thing' data in such a way that it makes it obvious
              whether it is relevant or not.
            </p>
          </li>

          <li>
            <a href="/datasets/spending">Lists of transactions</a><br/>
            <p>
              An aggregated view of all local authority spending, with filters
              to download partial datasets.
            </p>
          </li>

          <li>
            <a href="/datasets/one">Resolving non-relevant results</a><br/>
            <p>
              User lands on a dataset page from Google (or other search)
              and it's not quite right...
            </p>
          </li>

    		  <li>
            <a href="/goog">Simpler DGU</a><br/>
            <p>
              We replace DGU with a simpler site (google better at search giving relevant results).
              What happens when a user accidentally lands on the home page, and/or a publisher turns
              up wanting to publish.
            </p>
          </li>

          <hr/>

          <li>
            <a href="/datasets/facts">Lists of facts</a><br/>
            <p>
              Does not exist yet, add to /dataset/facts
            </p>
          </li>

          <li>
            <a href="/datasets/events">Lists of events</a><br/>
            <p>
              Does not exist yet, add to /dataset/events
            </p>
          </li>

    	 </ul>
    </div>
  </div>

</main>

{% endblock %}


