{% extends "layout.html" %}

{% block page_title %}
  Find government data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Finding Awesome Prototypes/Ideas
      </h1>{{releaseVersion | log }}
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
  	   <ul class="list list-bullet">
         <h1>Stuff that's on data.gov.uk</h1>
        <li>
          <a href="/datasets/cctv">Lists of (physical) things</a><br/>
          <p>
          </p>
        </li>

        <li>
          <a href="/datasets/cctv">Lists of events</a><br/>
          <p>
          </p>
        </li>

        <li>
          <a href="/datasets/spending">Lists of transactions</a><br/>
          <p>
            An aggregated view of all local authority spending, with filters
            to download partial datasets.
          </p>
        </li>

        <li>
          <a href="/datasets/cctv">Lists of facts</a><br/>
          <p>
          </p>
        </li>

        <li>
          <a href="/datasets/one">Resolving non-relevant results</a><br/>
          <p>
            User lands on a dataset page from Google (or other search)
            and it's not quite right...
          </p>
        </li>

  		  <li>
          <a href="/goog">Simpler DGU</a><br/>
          <p>
            We replace DGU with a simpler site (google better at search giving relevant results).
            What happens when a user accidentally lands on the home page, and/or a publisher turns
            up wanting to publish.
          </p>
        </li>
    	 </ul>
    </div>
  </div>

</main>

{% endblock %}


