{% extends "layout.html" %}

{% block page_title %}
  Find government data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Finding Awesome Prototype 1
      </h1>{{releaseVersion | log }}
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
  	   <ul class="list list-bullet">

        <li>
          <a href="/datasets/one">Handling non-relevance</a><br/>
          User lands on a dataset page from Google (or other search)
          and it's not quite right...

        </li>
  		  <li>
          <a href="/goog">Sans DGU</a><br/>
          We replace DGU with a simpler site
        </li>
    	 </ul>
    </div>
  </div>

</main>

{% endblock %}


